<div class="app-name">
    <h1 class="spech1">Excalibur Voting Solution</h1>
</div>
<app-tab-nav-bar-basic-example></app-tab-nav-bar-basic-example>
<router-outlet></router-outlet>
<!-- <app-messages></app-messages> -->